body {
    margin: 0;
}

nav {
    display: block;
    margin: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
nav>a {
    padding: 1em;
    background-color:inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
nav>a:hover {
    background-color: #ddd;
}
